<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="V1">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
        <testsuite name="signing-contracts">
            <file>./tests/E2E/PdfGoldenContractTest.php</file>
            <file>./tests/E2E/VisibleAppearanceE2ETest.php</file>
            <file>./tests/E2E/VisibleSignatureScenariosE2ETest.php</file>
            <file>./tests/E2E/ImageIntegrityE2ETest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
</phpunit>
